<div class="center">
	<h1><%= @robot.name %></h1>

	<% div_color = @robot.evil ? 'red' : 'green' %>
	<div class="<%=div_color%>">
		<i>Serial Number: <%= @robot.serial_number %></i>
		<br />
		<strong> Evil: <%= @robot.evil ? 'Yes, Very!' : 'Nope!' %></strong>
		<br />
		<i>Color: <%= @robot.color %></i>
		<br />
		<i>Industry: <%= @robot.industry %></i>
	</div>

	<div>
		<%= link_to 'Show Parts', robot_parts_path(@robot), class: "btn" %>
	</div>

	<%= link_to "Back to Inventor's Robot", inventor_path(@inventor), class: "btn grey" %>
</div>